{$APP_DOMAIN}
{
    proxy / cezerin-store:3000 {
        transparent
    }
}

localhost:3001,
{$APP_DOMAIN_API}
{
    proxy / cezerin-api:3001 {
        transparent
        websocket
    }
}

localhost:3002,
{$APP_DOMAIN_ADMIN}
{
    proxy / cezerin-admin:3002 {
        transparent
        websocket
    }
}

localhost:8887,
{$APP_DOMAIN_STATIC}
{
    proxy / nginx:8887 {
        transparent
        websocket
    }
}